.col_4 {
  width: 33%;
  display: inline-block;
}

.container {
  width: 100vw;
}

.header {
  padding: 0px 50px;}

.logo {
  font-family: 'Adelle', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.logo img {
  width: 6%;
  padding: 0px;
  margin-left:10px;
  margin-top: -8px;
}

.logo span{
  margin-top: 30px;
  font-size: 17px;
  color: $main_text_color;
  text-transform: uppercase;
  }

.logo a {
  color: $main_text_color;
}

.logo a:hover {
  color: $main_text_color;
  text-decoration: none;
}

.whatis {
  text-align: center;
  font-family: 'Adelle', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.whatis a span span {
  font-family: 'Adelle', sans-serif;
  font-weight: 400;

}

.about {
  text-align: right;
  font-family: 'Adelle', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.menu_link {
  display: inline-block;
  width: auto;
  position: relative;
}

.menu_link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: -2px;
  background-color: #F1F1F1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu_link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.video_container {
z-index: -1;
}

.video_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-mask-image: url('../../assets/img/mask.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  animation: mask-effect 5s linear;
  animation-fill-mode: forwards;
}

#video_trailers {
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(bottom left, #8b4fff 0%, #ee46ab 41%, #ffcb72 100%);
    background: -o-linear-gradient(bottom left, #8b4fff 0%, #ee46ab 41%, #ffcb72 100%);
    background: linear-gradient(to top right, #8b4fff 0%, #ee46ab 41%, #ffcb72 100%);
}

#video_effect {
  position: absolute;
    transform: translate3D(0);
    background: linear-gradient(to top right, #8b4fff 0%, #ee46ab 41%, #ffcb72 100%);
    opacity: 1;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-mask: url("../../assets/img/effect.png");
    -webkit-mask-size: 3000% 100%;
    -webkit-animation: mask-playzero 10s steps(29) infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#video_effect:before{
  content: '';
  background: linear-gradient(to top right, #8b4fff 0%, #ee46ab 41%, #ffcb72 100%);  opacity: 1;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3D(0);
}

.video {
  width: 100vw;
  height: 100vh;
}


.text_home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 80%;
}

.catch_text {
  text-align: center;
  font-family: 'Nick', sans-serif;
  font-size: 50px;
  color: $main_text_color;
  word-spacing: 12px;
}

.brand_rank {
  text-transform: uppercase;
  font-family: 'Adelle', sans-serif;
  font-weight: 700;
  font-size: 40px;
  border-bottom: 2px solid $main_text_color;
}

.scroll_down {
  text-align: center;
  padding-top: 30px;
}

.text_s_d {
  text-transform: uppercase;
  font-family: 'Adelle', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 30px;
  padding-bottom: 15px;
  color: $main_text_color
}

.icone_s_d {
  position: relative;
  left: 48%;
}

.mouse {
  position: absolute;
  top: 0px;
  width: 35px;
  height: 55px;
  border: 1px solid $main_text_color;
  border-radius: 50px;
  cursor: pointer;
}

.mouse_button {
  position: absolute;
  top: 10px;
  left: 17px;
  width: 1px;
  height: 25px;
  background-color: $main_text_color;
}

.mouse_roll {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 5px;
  height: 5px;
  background-color: $main_text_color;
  border-radius: 50%;
  animation: roll 2s linear infinite alternate;
}

.slide-transition {
    transition: all 5s ease-in-out;
    height: 100vh;
    overflow-y: hidden;
}
.slide-enter, .slide-leave {
    transition: all 5s ease-in-out;
    height: 0;
    opacity: 0;
}

.twitter_slide {
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

.timeline_twitter {
  height: 60px;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.text-slider:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.text-slider {
  position: absolute;
  width: 400%;
  overflow: hidden;
  padding: 0;
  transform: translate3D(0,0,0);
  animation: hslide linear 13s infinite alternate;
}

.text-slide {
  list-style: none;
  float: left;
  width: 10%;
  text-align: center;
  padding: 10px 0;
  background: transparent;
}

.text-slide a {
  font-family: helvetica;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

@keyframes hslide {
0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-15%);
  }
}

@keyframes roll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes mask-playzero {
    0% {
    -webkit-mask-position: 0 0;
    -ms-mask-position: 0 0;
    -moz-mask-position: 0 0;
    -o-mask-position: 0 0;
    mask-position: 0 0;
  }
  20% {
    -webkit-mask-position: 100% 0;
    -ms-mask-position: 100% 0;
    -moz-mask-position: 100% 0;
    -o-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  40% {
    -webkit-mask-position: 0 0;
    -ms-mask-position: 0 0;
    -moz-mask-position: 0 0;
    -o-mask-position: 0 0;
    mask-position: 0 0;
  }
  100% {
    -webkit-mask-position: 0 0;
    -ms-mask-position: 0 0;
    -moz-mask-position: 0 0;
    -o-mask-position: 0 0;
    mask-position: 0 0;
  }
}
