.container {
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans';
  background-color: #8D30F1;
  background-size: cover;
  width: 100vw;
}
.top {
  width: 100vw;
  height: 245px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #8D30F1;
}

.title {
  position: absolute;
  font-size: 24px;
  font-family: 'AdelleBold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 110px;
  color: $main_text_color;
  border: solid 3px $main_text_color;
  padding: 20px 30px 17px;
}

.parameters {
  display: inline-block;
  position: absolute;
  width: 100%;
  font-family: 'AdelleBold', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 3px;
  color: $main_text_color;
  margin-top: -36px;
  text-align: right;

  span {
    display: inline-block;
    width: 163px;
    text-align: center;
  }
}

.main_liste {
  position: relative;
  font-family: 'AdelleRegular', sans-serif;
  font-size: 24px;
  color: $main_text_color;
  margin-top: 244px;
  opacity: 1;
}

.main_liste:hover > .number {
  opacity: 0.5;
}

.main_liste:hover > .number:hover {
  opacity: 1;
}

.separator_1 {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: $main_text_color;
  right: 163px;
}

.separator_2 {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: $main_text_color;
  right: 323px;
}

.movie {
  display: inline-block;
  position: relative;
  height: 80px;
  line-height: 80px;
  width: 650px !important;
  text-align: left !important;
}

.number {
  transition: all 200ms linear;
  cursor: pointer;
}

.number span {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.noise {
  position: absolute;
  right: 163px;
  width: 163px !important;
  line-height: 80px;
  font-family: 'AdelleBold', sans-serif;
  font-size: 16px;
}

.reality {
  position: absolute;
  width: 163px !important;
  line-height: 80px;
  font-family: 'AdelleBold', sans-serif;
  font-size: 16px;
  margin-left: -8px;
  right: 0;
}

.number_0 {
  background-color: #8D30F1;
  height: 80px;
}

.number_1 {
  background-color: #8F32EE;
  height: 80px;
}

.number_1 .movie {
  padding-left: 3px;
}

.number_2 {
  background-color: #9235EC;
  height: 80px;
}

.number_2 .movie {
  padding-left: 1px;
}

.number_3 {
  background-color: #9538E9;
  height: 80px;
}

.number_3 .movie {
  padding-left: -1px;
}

.number_4 {
  background-color: #983BE7;
  height: 80px;
}

.number_5 {
  background-color: #9A3EE4;
  height: 80px;
}

.number_6 {
  background-color: #9D41E2;
  height: 80px;
}

.number_7 {
  background-color: #A043DF;
  height: 80px;
}

.number_7 .movie {
  padding-left: 3px;
}

.number_8 {
  background-color: #A346DD;
  height: 80px;
}

.number_9 {
  background-color: #A549DA;
  height: 80px;
}

.number_10 {
  background-color: #A84CD8;
  height: 80px;
}

.number_11 {
  background-color: #AB4FD5;
  height: 80px;
}

.number_12 {
  background-color: #AE52D3;
  height: 80px;
}

.number_13 {
  background-color: #B155D1;
  height: 80px;
}

.number_14 {
  background-color: #B357CE;
  height: 80px;
}

.number_15 {
  background-color: #B65ACC;
  height: 80px;
}

.number_16 {
  background-color: #B65ACC;
  height: 80px;
}

.number_17 {
  background-color: #B95DC9;
  height: 80px;
}

.number_18 {
  background-color: #BC60C7;
  height: 80px;
}

.number_19 {
  background-color: #BE63C4;
  height: 80px;
}

.number_20 {
  background-color: #C166C2;
  height: 80px;
}

.number_21 {
  background-color: #C468BF;
  height: 80px;
}

.number_22 {
  background-color: #C76BBD;
  height: 80px;
}

.number_23 {
  background-color: #C96EBA;
  height: 80px;
}

.number_24 {
  background-color: #CC71B8;
  height: 80px;
}

.number_25 {
  background-color: #CF74B5;
  height: 80px;
}

.number_26 {
  background-color: #D277B3;
  height: 80px;
}

.number_27 {
  background-color: #D57AB1;
  height: 80px;
}

.number_28 {
  background-color: #D77CAE;
  height: 80px;
}

.number_29 {
  background-color: #DA7FAC;
  height: 80px;
}

.number_30 {
  background-color: #DD82A9;
  height: 80px;
}

.number_31 {
  background-color: #E085A7;
  height: 80px;
}

.number_32 {
  background-color: #E288A4;
  height: 80px;
}

.number_33 {
  background-color: #E88D9F;
  height: 80px;
}

.number_34 {
  background-color: #EB909D;
  height: 80px;
}

.number_35 {
  background-color: #ED939A;
  height: 80px;
}

.number_36 {
  background-color: #F09698;
  height: 80px;
}

.number_37 {
  background-color: #F39995;
  height: 80px;
}

.number_38 {
  background-color: #F69C93;
  height: 80px;
}

.number_39 {
  background-color: #F99F91;
  height: 80px;
}

.number_40 {
  background-color: #F99F91;
  height: 80px;
}





.light {
  opacity: .75;
  font-size: 14px;
}
