.container {
  width           : 100vw;
  height          : 100vh;
  background-color: #000;
}

// Quit

.quit {
  position       : absolute;
  left           : 50%;
  margin-top     : 80px;
  transform      : translateX(-50%);
}


// Main Title
.title {
  position       : absolute;
  font-family    : "AdelleBold", sans-serif;
  font-size      : 33px;
  letter-spacing : 5.5px;
  text-transform : uppercase;
  color          : $main_text_color;
  left           : 50%;  
  top            : 30%;
  transform      : translateX(-50%) translateY(-50%);
}

// Stats
  // General parameters
.stats_container {
  position      : absolute;
  width         : 900px;
  height        : 236px;
  margin        : auto;
  left          : 50%;  
  top           : 60%;
  transform     : translateX(-50%) translateY(-50%);
}

.stats {
  position     : relative;
  height       : 100px;
  width        : 218px;
  border-left  : solid 1px $main_text_color;
  display      : inline-block;
  margin-bottom: 40px;
  text-align   : left;
  padding-left : 10px;
  padding-top  : 5px;
}

.main_span {
  font-family    : "AdelleLight", sans-serif;
  font-size      : 17px;
  letter-spacing : 3px;
  text-transform : uppercase;
  color          : $main_text_color;
}
  
.number {
  font-family    : "AdelleBold", sans-serif;
  font-size      : 33px;
  letter-spacing : 5.5px;
  text-transform : uppercase;
  position       : relative;
  top            : 30px;
}

  // Specifis parameters
.stats_1 {
  color: #FF2B69;
}

.stats_2 {
  color: #00C2FF;
}

.stats_3 {
  color: #FFC63A;
}

.stats_4 {
  color: #9013FE;
}

.stats_5 {
  color: #9013FE;
}

.stats_6 {
  color: #FFC63A;
}

.stats_7 {
  color: #FF2B69;
}

.stats_8 {
  color: #00C2FF;
}


