.title {
  position      : relative;
  text-align    : center;
  text-transform: uppercase;
  font-family   : 'Adelle', sans-serif;
  font-weight: 700;
  font-size     : 38px;
  letter-spacing: 4px;
  margin-top    : 100px;  
  color         : $main_text_color;
}

.col-4 {
  width: 33%;
  display: inline-block;
}

.main_sentence {
  width         : auto;
  position      : relative;
  text-align    : center;
  font-family   : 'Adelle', sans-serif;
  font-weight: 700;
  font-size     : 48px;
  margin-top    : 150px;  
  color         : $main_text_color;
}


// animation main_sentence
.dev {
  position         : relative;
  font-family      : 'Nick', sans-serif;
  font-size        : 58px;
  margin-left      : 20px;
  display          : inline;
}

.designer {
  font-family   : 'Nick', sans-serif;
  font-size     : 58px;
  margin-left   : 20px;
  display       : none; 
}

.leader {
  font-family   : 'Nick', sans-serif;
  font-size     : 58px;
  margin-left   : 20px;
  display       : none; 
}

.data {
  font-family   : 'Nick', sans-serif;
  font-size     : 58px;
  margin-left   : 20px;
  display       : none; 
}

.team {
  font-family   : 'Nick', sans-serif;
  font-size     : 58px;
  margin-left   : 20px;
  display       : none; 
}

// animation group's member

// General properties

.name {
  font-family: 'Adelle', sans-serif;
  font-weight: 400;
  font-size  : 17px;
  color      : #fff;
}

.role {
  font-family: 'Adelle', sans-serif;
  font-weight: 700;
  font-size  : 17px;
  font-weight:  100;
  color      : #fff;
}

// Specifics proporties 

 // --- Guillaume --- 
 .guillaume {
  position   : relative;
  margin-top : 100px;
  margin-left: 25%;
 }

.guillaume .picture {
  background-image   : url("../../assets/img/guillaume.jpg");
  background-size    : cover;
  background-position: center center;
  position           : relative;
  width              : 100px;
  height             : 100px;
  border-radius      : 50px;
}

.guillaume .about {
  position  : absolute;
  top       : 35px;
  left      : 125px;
  text-align: center;
}

 // --- Léo --- 
.leo {
  position: relative;
 }

.leo .picture {
  background-image   : url("../../assets/img/leo.jpg");
  background-size    : cover;
  background-position: center 45%;
  position           : relative;
  width              : 100px;
  height             : 100px;
  border-radius      : 50px;
}

.leo .about {
  position  : absolute;
  top       : 35px;
  left      : 125px;
  text-align: center;
}

 // --- Pierre-Brice --- 
.pierre {
  position   : relative;
  margin-top : 100px;
  margin-left: 25%;
  display    : none;
 }


.pierre .picture {
  background-image   : url("../../assets/img/pierre.jpg");
  background-size    : cover;
  background-position: center center;
  position           : relative;
  width              : 100px;
  height             : 100px;
  border-radius      : 50px;
}

.pierre .about {
  position  : absolute;
  top       : 35px;
  left      : 125px;
  text-align: center;
}

 // --- Raphaël --- 
.raph {
  position: relative;
  display : none;
 }

.raph .picture {
  background-image   : url("../../assets/img/raph.jpg");
  background-size    : cover;
  background-position: center center;
  position           : relative;
  width              : 100px;
  height             : 100px;
  border-radius      : 50px;
}

.raph .about {
  position  : absolute;
  top       : 35px;
  left      : 125px;
  text-align: center;
}

 // --- Adrien --- 
 .adrien {
  position: relative;
  display : none;
 }

.adrien .picture {
  background-image   : url("../../assets/img/adrien.jpg");
  background-size    : cover;
  background-position: center center;
  position           : relative;
  width              : 100px;
  height             : 100px;
  border-radius      : 50px;
}

.adrien .about {
  position  : absolute;
  top       : 35px;
  left      : 125px;
  text-align: center;
}

 // --- Pierrick --- 
 .pierrick {
  position: relative;
  display : none;
 }

.pierrick .picture {
  background-image   : url("../../assets/img/pierrick.jpg");
  background-size    : cover;
  background-position: center center;
  position           : relative;
  width              : 100px;
  height             : 100px;
  border-radius      : 50px;
}

.pierrick .about {
  position  : absolute;
  top       : 35px;
  left      : 125px;
  text-align: center;
}






